{% load static %}
{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>GEA Index</title>
    <style>
      body {
        padding: 0;
        margin: 0;
        border: 0;        
        font-family: "Akkurat Pro Regular", Arial, sans-serif;
        font-size: 32px;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
      }
      div#react-app {
        padding: 0;
        margin: 0;
        border: 0;
      }
    </style>
  </head>
  
  <body>
		<!-- Dependencies -->
		<script src="{% static 'react.development.js' %}"></script>
		<script src="{% static 'react-dom.development.js' %}"></script>

    <div id="react-app"></div>
    {% render_bundle 'fenix' %}
  </body>
</html>