{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>GEA Index</title>
    <style>
      body {
        padding: 0;
        margin: 0;
        border: 0;
        font-family: "Akkurat Pro Regular", Arial, sans-serif;
        font-size: 32px;
        font-stretch: normal;
        font-style: normal;
        font-weight: normal;
      }
      div#react-app {
        padding: 0;
        margin: 0;
        border: 0;
      }
    </style>
  </head>

  <body>
    <!-- Dependencies -->
    <script src="{% static 'react.production.min.js' %}"></script>
    <script src="{% static 'react-dom.production.min.js' %}"></script>

    <div id="react-app"></div>
    <script src="{% static 'bundle-release.js' %}"></script>
  </body>
</html>