<html>
    <head>
        <meta name="viewport" content="width=896,user-scalable=no,maximum-scale=10" />
        <style>
            * {
                font-family: arial, sans-serif;
                font-size: 10pt;
                -webkit-user-select: none; /* Disable selection/copy in UIWebView */
            }
            body {
                padding-left: 0px;
                padding-right: 0px;
                width: 896px;
            }
        </style>
    </head>
    
    <body>
    </body>
</html>

